<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://113.105.78.251/mobile/test/HXSC_New2.0/tztMobileApp_hxsc_801x.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://113.105.78.251/mobile/test/HXSC_New2.0/Icon57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://113.105.78.251/mobile/test/HXSC_New2.0/Icon512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.hxzq.iphone801x</string>
				<key>bundle-version</key>
				<string>2.3.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>tztMobileApp_hxsc_801x</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
